*{
  text-decoration: none!important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.siteNav header{
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.siteNav .site-menu ul{
  display: flex;
  align-items: center;
  margin: 0!important;
  list-style: none;
}
.siteNav .site-menu ul li{
  padding: 0 16px;
}
.siteNav .site-menu ul li a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #313131;
  display: block;
}
.siteNav .site-menu ul li.download-link a{
  background: #FD6D61;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 16px 30px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.navigate-to-atlas{
  display: flex;
  align-items: center;
}
.navigate-to-atlas .row{
  width: 100%;
  position: relative;
}
.navigate-to-atlas .text-navigate h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  line-height: 80px;
  letter-spacing: -0.05em;
  color: #313131;
  padding-bottom: 25px;
}
.navigate-to-atlas .text-navigate h1 span{
  color: #F96C61;
}
.navigate-to-atlas .text-navigate p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #313131;
}
.navigate-btn{
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 50px;
  padding: 19px 24px;
  background: #FD6D61;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: all .2s;
}
.navigate-btn img{
  padding-right: 20px;
}

.photo-navigate{
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px!important;
  justify-content: flex-end;
}
.photo-navigate .row{
  margin-right: -70px;
}
.photo-navigate .col-lg-6:nth-child(2n-1){
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.photo-navigate .photo-block img{
  width: 100%;
  object-fit: contain;
}
.photo-navigate .photo-block-1{
  width: 100%;
}
.photo-navigate .photo-block-2{
  padding-top: 50px;
  margin-left: -20px;
}
.photo-navigate .photo-block-3{
  padding-right: 20px;
  margin-top: -20px;
  align-self: flex-start;
}

.photo-navigate .abs-photo{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-navigate .abs-photo .photo-block-5{
  width: 220px;
}
.bg-border{
  height: calc(100vh - 101px);
  background: url("./files/images/border-main-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -20px -140px;
  display: flex;
  align-items: center;
}

.restaurants{
  background: url("./files/images/CTA.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.title-section h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 80px;
  color: #222222;
  text-align: center;
  padding: 25px 0 60px;
  margin-bottom: 0;
}
.title-section h2:after{
  content: '';
  width: 120px;
  height: 6px;
  background-color: #FD6D61;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
}
.restaurants-block .col-lg-4 .card-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.restaurants-block{
  padding: 50px 0 0;
}
.restaurants-block .row .col-lg-4{
  padding-right: 25px;
  padding-left: 25px;
}
.restaurants-block .row .col-lg-4:nth-child(2n){
  margin-top: -65px;
}
.restaurants-block .row .col-lg-4:nth-child(2n-1){
  margin-bottom: -15px;
}
.restaurants-block .col-lg-4 .card{
  background-color: white;
  border-radius: 24px;
  overflow: hidden;
  border: 0;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.restaurants-block .col-lg-4 .card-body{
  padding: 18px 20px 24px;
}
.restaurants-block .card-image{
  background-color: black;
}
.restaurants-block .card-image img{
  opacity: .54;
}
.restaurants-block .card-btn{
  display: flex;
}
.restaurants-block .card p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #2F2F2F;
  margin-bottom: 8px;
}
.restaurants-block .card-btn a{
  margin-top: 8px;
  padding: 5px 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #693DE7;
  border: 0.973837px solid #B2B2B2;
  border-radius: 6px;
}

.nearbies .card{
  border: 0;
  background-color: white;
}
.nearbies .card-image{
  border: 0;
  background-color: #F4F1FF;
  width:101px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 10px;
  transition: all ease .2s;
}
.nearbies .card-image svg{
  fill: #693DE7;
}

.nearbies .card-body{
  padding: 0;
}
.nearbies .card-title{
  margin-bottom: 0;
}
.nearbies .card-title h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #2D3436;
  padding: 28px 0;
  margin: 0;
}
.nearbies .card-title p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2D3436;
  margin-bottom: 28px;
}
.nearbies .card-btn a, .about .card-btn a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FD6D61;
  display: flex;
  align-items: center;
}
.nearbies .card-btn svg, .about .card-btn svg{
  fill: #FD6D61;
  margin-left: 8px;
  transition: all .2s;
}
.nearbies .card:hover .card-image{
  background: #693DE7;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
.nearbies .card:hover .card-image svg{
  fill: #FFFFFF;
}
.nearbies .card:hover .card-btn a, .about .col-lg-6:hover .card-btn a{
  color: #693DE7;
}
.nearbies .card:hover .card-btn svg, .about .col-lg-6:hover .card-btn svg{
  margin-left: 16px;
  fill: #693DE7;
}
.nearbies .row{
  padding: 80px 0;
}
.nearby-block .title-section h2{
  padding-bottom: 30px;
  margin-bottom: 0;
}

.about .row{
  padding: 80px;
}
.about .row .col-lg-6{
  padding-right: 80px;
  padding-left: 80px;
}

.about .col-lg-6 .title-about h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #252525;
  margin-bottom: 25px;
}
.about .col-lg-6 .title-about p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;  color: #262626;
  margin-bottom: 25px
}
.about .images{
  position: relative;
}
.about .images img:first-child {
  margin-bottom: 50px;
}
.about .images img:last-child{
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
}

.download-to-app{
  position: relative;
  background: url("./files/images/CTA1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.download-to-app .row{
  padding: 0 100px;
}
.download-to-app .container{
  padding: 100px;
}
.download-to-app h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 138.7%;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #313131;
}
.navigate-btn:hover{
  background-color: #693DE7;
  color: white;
}
.download-to-app:after{
  content: "";
  background: url("files/images/dots.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  width: 20%;
  background-position: left bottom;
  bottom: 0;
  height: 100%;
}
.gymnasium{
  padding: 100px 0;
}
.gymnasium .row{
  padding: 100px 130px;
}
.gymnasium .row .col-lg-4{
  padding-right: 25px;
  padding-left: 25px;
}
.gymnasium .title-section h2{
  padding-top: 0;
  padding-bottom: 0;
}
.gymnasium .card{
  border: 0;
  box-shadow: 0px 14.1088px 21.8686px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.gymnasium .card .card-body{
  position: absolute;
  display: flex;
  align-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,62%);
  color: white;
  padding: 45px 28px 28px;
}
.gymnasium .card .card-body p{
  padding-top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  width: 80%;
}
.gymnasium .card h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}
.gymnasium .card-btn{
  bottom: 0;
  color: white;
  background: rgba(105, 61, 231, 0.18);
  border: 0.973837px solid #B2B2B2;
  padding: 6px 22px;
  border-radius: 6px;
}
.gymnasium .card-btn a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 9.73837px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.gymnasium .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gymnasium .card-image{
  height: 350px;
}